@model Sundae 

<ul>
    <li>Flavor: @Model.Flavor</li>
    <li>Scoops: @Model.Scoops</li>
    <li>Sauce: @Model.Sauce</li>
    <li>Topping: @Model.Topping</li>
    <li>WhippedAndCherry: @Model.WhippedAndCherry</li>
</ul>